{% extends 'base.html.twig' %}
{% block title %}Artwork{% endblock %}

{% block body %}


<section class="gallery2 cid-tueENDWKwP" >
<div class="container">
       
<div class="row mt-4">
    <table class="show" >
        <h1>Artwork</h1>
        <tbody>
            <tr>
                <th>Id_artwork</th>
                <td>{{ artwork.idArtwork }}</td>
            </tr>
            <tr>
                <th>Nom_artwork</th>
                <td>{{ artwork.nomArtwork }}</td>
            </tr>
            <tr>
                <th>Description_artwork</th>
                <td>{{ artwork.descriptionArtwork }}</td>
            </tr>
            <tr>
                <th>Prix_artwork</th>
                <td>{{ artwork.prixArtwork }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ artwork.date ? artwork.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lien_artwork</th>
                <td>{{ artwork.lienArtwork }}</td>
            </tr>
            <tr>
                <th>Dimension_artwork</th>
                <td>{{ artwork.dimensionArtwork }}</td>
            </tr>
            <tr class ="show">
                <th>Img_artwork</th>
<img style="width : auto;height:auto;" src="{{ asset('uploads/images/' ~ artwork.imgArtwork) }}"  />                
                {# {{ artwork.imgArtwork }} #}
                </td>
                
            </tr>
        </tbody>
        
    </table>
    
</div>
<a href="{{ path('app_artwork_index') }}">back to list</a>

    <a href="{{ path('app_artwork_edit', {'id_artwork': artwork.idartwork}) }}">edit</a>

    {{ include('artwork/_delete_form.html.twig') }}
</div>
    
    </section>
{% endblock %}
