{{ form_start(form,{
    'attr': {
        'novalidate': 'novalidate'}, 
        'style': 'width: 300px;',
    })
}}
    {{ form_widget(form) }}
    {% if app.user %}
        {{ form_row(form.IdUser) }}
    {% endif %}
    <button type="submit" class="btn btn-secondary display-4 mx-auto" style="width: 200px;">
        {% if editMode %}
            {{ 'Maj'|trans }}
        {% else %}
            {{ 'Créer'|trans }}
        {% endif %}
    </button>
{{ form_end(form) }}
