{% extends 'reclamation/admin.html.twig' %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRec</th>
                <td>{{ reclamation.idRec }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ reclamation.titre }}</td>
            </tr>
            <tr>
                <th>ReclamationSec</th>
                <td>{{ reclamation.reclamationSec }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reclamation.email }}</td>
            </tr>
        </tbody>
    </table>
    
    <a class="btn btn-secondary display-4 mx-auto" style="width: 200px;" href="{{ path('app_reclamation_edit', {'idRec': reclamation.idRec}) }}">Modifier</a>
    {{ include('reclamation/_delete_form.html.twig') }}
    <a class="btn btn-secondary display-4" href="{{ path('app_reclamation_index') }}"style="display: block; margin: 0 auto; text-align: center;">Retourner a la liste</a>


{% endblock %}
