{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCategorie</th>
                <td>{{ categorie.idCategorie }}</td>
            </tr>
            <tr>
                <th>TypeCategorie</th>
                <td>{{ categorie.typeCategorie }}</td>
            </tr>
            <tr>
                <th>NomCategorie</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_categorie_index') }}">back to list</a>

    <a href="{{ path('app_user_categorie_edit', {'idCategorie': categorie.idCategorie}) }}">edit</a>

    {{ include('user_categorie/_delete_form.html.twig') }}
{% endblock %}
