{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- Inclure la bibliothèque Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
        {% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div id="map"></div>
                    <div class="row">
                        <div >{{ form_row(form.titre) }}</div>
                        <div >{{ form_row(form.type) }}</div>
                        <div >{{ form_row(form.description) }}</div>
                        
                        <div>{{ form_row(form.lieu) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.dateDebut) }}</div>
                        <div class="col">{{ form_row(form.heureDebut) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.dateFin) }}</div>
                        <div class="col">{{ form_row(form.heureFin) }}</div>
                    </div>
            
    {{ form_widget(form , {'attr': {'novalidate': 'novalidate'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form , {'attr': {'novalidate': 'novalidate'}}) }}


    
{% endblock %}

{% block js %}

 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>


<script>

var map = L.map('map').setView([48.856614, 2.3522219], 13);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    maxZoom: 19,
}).addTo(map);

var marker;

map.on('click', function(e) {
    if (marker) {
        map.removeLayer(marker);
    }
    
    marker = L.marker(e.latlng).addTo(map);
    
    // Convertir les coordonnées en adresse avec un service de géocodage
    var url = 'https://nominatim.openstreetmap.org/reverse?format=json&lat=' + e.latlng.lat + '&lon=' + e.latlng.lng;
    
    fetch(url)
        .then(response => response.json())
        .then(data => {
            // Mettre à jour la valeur du champ "lieu" avec l'adresse
            document.getElementById('form_lieu').value = data.display_name;
        });
});
</script>

{% endblock %}
