{% extends 'base.html.twig' %}


{% block title %}Evenement{% endblock %}

{% block css %} 
 <link rel="stylesheet" href="{{asset("assets/css/show_col_event.css")}}">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
<link rel="stylesheet" href="{{asset("assets/css/map-event.css")}}"> 

{% endblock %}

{% block body %}

<div id="map"></div>


{{ evenement.latitude }}
{{ evenement.longitude }}


 <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">revenir aux details</a>

  

    {#*********************************************************************************#}
{% endblock %}

{% block javascript %}

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

<script src="{{asset("assets/js/map-itineraire.js")}}"></script> 

{% endblock %}