{% extends '/admin/index.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Cin_user</th>
                <th>Adresse_user</th>
                <th>Username</th>
                <th>Img_user</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.cinUser }}</td>
                <td>{{ user.adresseUser }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.imgUser }}</td>
                <td>
                    <a href="{{ path('app_adminuser_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_adminuser_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adminuser_new') }}">Create new</a>
{% endblock %}
