{% extends 'base.html.twig' %}

{% block css %}

<link rel="stylesheet" href="{{asset("assets/css/show_collNyanga.css")}}">
   {% endblock %}


{% block title %}Collaboration{% endblock %}

{% block body %}
<div class"container">
    {# ################################################################################################## #}
   
    {# ################################################################################################## #}
</div>
  <div class="container">
            <h1>Collaboration</h1>
    <div class="row">
      <div class="col-8 text-center">
        <table class="table">
          <tbody>
            <tr>
                <th>IdCollaboration</th>
                <td>{{ collaboration.idCollaboration }}</td>
            </tr>
            <tr>
                 <th>TypeCollaboration</th>
                <td>{{ collaboration.typeCollaboration }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ collaboration.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ collaboration.description }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ collaboration.dateSortie ? collaboration.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                    <th>Status</th>
                    <td>{{ collaboration.status }}</td>
                </tr>
                <tr>
                    <th>NomUser</th>
                    <td>{{ collaboration.nomUser }}</td>
                </tr>
                <tr>
                    <th>EmailUser</th>
                    <td>{{ collaboration.emailUser }}</td>
                </tr>
          </tbody>
        </table>

            
      </div>
          <div class="col-4">
                <h2> classement par type </h2>
                {# {{ dump() }} #}
            <div>
              <canvas id="myChart"></canvas>
          </div>
      </div>
    </div>
    <a href="{{ path('app_collaboration_index') }}">back to list</a>


            <a href="{{ path('app_collaboration_edit', {'idCollaboration': collaboration.idCollaboration}) }}">edit</a>

            {{ include('collaboration/_delete_form.html.twig') }}
  </div>


{% endblock %}








{% block javascript %}


  <script src="{{asset("assets/js/show_collab.js")}}"></script> 

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    
    type: 'pie',
    data: {
      labels: {{ type | raw }},
      datasets: [{
        label: '# of Votes',
        data: {{ nombre | raw }},
        backgroundColor: ['red','yello','purple','green','orange','pink'],
        borderWidth: 1
      }]
    },
  });
  </script> 


{% endblock %}