<style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, textarea, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 32px;
      color: #fff;
      z-index: 2;
      }
      .testbox {{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 10px 0 #cc0052; 
      }
      .banner {
      position: relative;
      height: 210px;
      background-image: url("/uploads/media/default/0001/01/f1cf9a9068f4bfbdbd9758c45db79203579a3561.jpeg");      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item:hover p, input:hover::placeholder {
      color: #cc0052;
      }
      .item input:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #cc0052;
      color: #cc0052;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #cc0052;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #ff0066;
      }
      .c{
        width : 70%;
        height:120%;
        display: block;
  margin-left: auto;
  padding-top: 41px;
  margin-right: auto;}
      @media (min-width: 568px) {
      .name-item, .contact-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .contact-item .item {
      width: calc(50% - 8px);
      }
      .name-item input {
      width: calc(50% - 20px);
      }
      .contact-item input {
      width: calc(100% - 12px);
      }

      }
    </style>
    <div class="c">
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {# {{ form_widget(form) }} #}
   
    {{ form_row(form.nom_artwork, {
    label: 'Nom de l\'oeuvre',
    attr: {
        placeholder: 'Name'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}
{{ form_row(form.description_artwork, {
    label: 'Description de l\'oeuvre',
    attr: {
        placeholder: 'Description'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}

{{ form_row(form.lien_artwork, {
    label: 'Lien de l\'oeuvre',
    attr: {
        placeholder: 'lien'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}
{{ form_row(form.prix_artwork, {
    label: 'Prix de l\'oeuvre',
    attr: {
        placeholder: 'prix'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}
{{ form_row(form.id_artist, {
    label: 'Artiste de l\'oeuvre',
    attr: {
        placeholder: 'Artiste'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}
{{ form_row(form.date, {
    label: 'Date de creation de l\'oeuvre',
    attr: {
        placeholder: 'Date'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}
{{ form_row(form.id_type, {
    label: 'Type de l\'oeuvre',
    attr: {
        placeholder: 'Type'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}
{{ form_row(form.img_artwork, {
    label: 'Image de l\'oeuvre',
    attr: {
        placeholder: 'Image'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}

{{ form_row(form.dimension_artwork, {
    label: 'Dimension de l\'oeuvre',
    attr: {
        placeholder: 'Dimension'
    },
    row_attr: {
        class: 'form-floating'
    }
}) }}

<small>{{ form_help(form.lien_artwork) }}</small>
<div>

    <button class="btn btn-secondary display-4">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
</div>