{% extends '/admin/index.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    <style>
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:481px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{

  
  background: linear-gradient(to right, #000000, #b8236e );
  font-family: 'Roboto', sans-serif;

}
section{
  margin: 0px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}</style>
  
  <main id="main" class="main">

    <div class="pagetitle">
      {# <h1>Dashboard</h1> #}
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


            <!-- Reports -->
            <div class="col-12">
              <div >

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  {# <h5 class="card-title">Reports <span>/Today</span></h5> #}

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>
                  <section data-bs-version="5.1" class="gallery2 cid-tueENDWKwP" id="gallery2-r">

<div class="container">
        <section>
  <!--for demo wrap-->
  <h1>Artwork</h1>
<form method="post" action="{{path('search')}}">
</form>
<form method="post" action="{{path('order')}}">
<label>order

<input type="submit" value="order"></input>

</form>

<label>name:

<input type="text" name="mail"></input>
<input type="submit" value="Search"></input>
</form>
  
  <div class="tbl-header">
    <table class ="table-dark"cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Date </th>
           <th>Lien</th>
            <th>dimension</th>
             <th>image</th>
          {# <th>Artiste </th>
          <th>Type </th>
           #}
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {% for artwork in artworks %}

        
                <td>{{ artwork.nomArtwork }}</td>
                <td>{{ artwork.descriptionArtwork }}</td>
                <td>{{ artwork.prixArtwork }}</td>
                <td>{{ artwork.date ? artwork.date|date('Y-m-d') : '' }}</td>
                {# <td>{{ artwork.IdArtist.username }}</td> #}
                <td>{{ artwork.lienArtwork }}</td>
                <td>{{ artwork.dimensionArtwork }}</td>
                <td ><img style="width : 100px;height:100px;" src="{{ asset('uploads/images/' ~ artwork.imgArtwork) }}"  /></td>
                <td>
                    <a class="btn btn-secondary display-4" href="{{ path('app_artwork_show', {'id_artwork': artwork.idartwork}) }}">show</a>
                    <a class="btn btn-secondary display-4" href="{{ path('app_artwork_edit', {'id_artwork': artwork.idartwork}) }}">edit</a>
                </td>
            </tr>
 {% endfor %}
        
      </tbody>
      <tbody id="searchtab">
</tbody>

    </table>
        

  </div>
  <a class=" btn btn-secondary display-4" href="{{ path('app_artwork_new') }}">Create new</a>
</section>

<!-- follow me template -->
{# <div class="made-with-love"> #}
 <script>.
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>

        </script>
</div>
        
                    </div><!-- End Reports -->

{% endblock %}
