{% extends 'base.html.twig' %}
{% block title %}Artwork{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset("style.css")}}">
    <body >
    <div class="main">

  

        <div class="left cid-tueYvJrawH">

            <div class="img ">
                <img src="image/profile.png">
                <p>John Deo</p>
            </div>

            <div class="img">
                <img src="image/friend.png">
                <p>Friends</p>
            </div>

            <div class="img">
                <img src="image/saved.png">
                <p>Saved</p>
            </div>

            <div class="img">
                <img src="image/group.png">
                <p>Groups</p>
            </div>

            <div class="img">
                <img src="image/marketplace.png">
                <p>Marketplace</p>
            </div>

            <div class="img">
                <img src="image/watch.png">
                <p>Watch</p>
            </div>

            <div class="img">
                <img src="image/down_arrow.png">
                <p>See more</p>
            </div>

            <hr>

            

        </div>


        <div class="center">

            <div class="my_post">

                <div class="post_top">

                    <img src="image/profile.png">
                    <input type="text" placeholder="What's on you mind, John?">

                </div>

                <hr>

                <div class="post_bottom">

                    <div class="post_icon">
                        <i class="fa-solid fa-video red"></i>
                        <p>Live video</p>
                    </div>

                    <div class="post_icon">
                        <i class="fa-solid fa-images green"></i>
                        <p>Photo/video</p>
                    </div>

                    <div class="post_icon">
                        <i class="fa-regular fa-face-grin yellow"></i>
                        <p>Feeling/activity</p>
                    </div>

                </div>

            </div>


            


            {% for artwork in artworks %}

            <div class="friends_post">

                <div class="friend_post_top">

                    <div class="img_and_name">

                        <img src="image/profile_9.png">

                        <div class="friends_name">
                            <p class="friends_name">
                               {{ artwork.descriptionArtwork }}
                            </p>
                            <p class="time">{{ artwork.date ? artwork.date|date('Y-m-d') : '' }}<i class="fa-solid fa-user-group"></i></p>
                        </div>
                        

                    </div>

                    <div class="menu">

                        <i class="fa-solid fa-ellipsis"></i>

                    </div>

                </div>

                <img src="{{ asset('uploads/images/' ~ artwork.imgArtwork) }}"  />

                <div class="info">

                    <div class="emoji_img">
                        <img src="{{asset("image/like.png")}}">
                        <img src="{{asset("image/haha.png")}}">
                        <img src="{{asset("image/heart.png")}}">
                        <p>You, Charith Disanayaka and 25K others</p>
                    </div>

                    <div class="comment">
                        <p>421 Comments</p>
                        <p>1.3K Shares</p>
                    </div>

                </div>

                <hr>

                <div class="like">

                    <div class="like_icon">
                        <i class="fa-solid fa-thumbs-up activi"></i>
                        <p>Like</p>
                    </div>

                    <div class="like_icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comments</p>
                    </div>

                    <div class="like_icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>

                </div>

              {% for commentaire in commentaires %}
            {% if commentaire.getIdArtwork().getIdArtwork() == artwork.getIdArtwork() %}
                <hr>
 <div class="info">

                    <div class="emoji_img comment_warpper">
                       <img src="image/profile.png">
                            <p>{{ commentaire.texte }}</p>
                    </div>

                    <div class="comment">
                            <p>{{ commentaire.DatePost ? commentaire.DatePost|date('Y-m-d H:i:s') : '' }}</p>
                    </div>

                </div>
                 {# {% else %}
            <tr>
                <td colspan="4"></td>
            </tr> #}
            {% endif %}

        {% endfor %}
                 <hr>

                <div class="comment_warpper">

                    <img src="image/profile.png">
                    <div class="circle"></div>

                    <div class="comment_search">
                <a href="{{ path('app_commentaire_new') }}">Write a comment</a>
                        <input type="text" placeholder="Write a comment">
                        <i class="fa-regular fa-face-smile"></i>
                        <i class="fa-solid fa-camera"></i>
                        <i class="fa-regular fa-note-sticky"></i>

                    </div>

                </div>


            </div>
 {% endfor %}

        </div>
  
        <div class="right">

            <div class="third_warpper">

                <div class="contact_tag">

                    <h2>Contacts</h2>

                    <div class="contact_icon">

                        <i class="fa-solid fa-video"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-ellipsis"></i>

                    </div>

                </div>

                <div class="contact">

                    <img src="image/contact_1.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/contact_2.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/contact_3.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/contact_4.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/contact_5.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_1.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_2.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_3.jpg">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_4.png">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_5.png">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_6.png">
                    <p>Senuda De Silva</p>

                </div>

                <div class="contact">

                    <img src="image/profile_7.png">
                    <p>Senuda De Silva</p>

                </div>

            </div>

        </div>

    </div>

    
{% endblock %}
