{% extends '/admin/index.html.twig' %}

{% block title %}Promotion{% endblock %}
{% block hamza %} promotion {% endblock %}
 {% block other %} 
                      <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_categorie_index') }}">
                            <i class="bi bi-grid"></i>
                            <span>Categorie</span>
                        </a>
                    </li>
                    {% endblock %}

{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ promotion.remise }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ promotion.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_promotion_index') }}">back to list</a>

    <a href="{{ path('app_promotion_edit', {'id': promotion.id}) }}">edit</a>

  
{% endblock %}