{% extends '/admin/index.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{asset("assets/css/table-admin-event.css")}}">
{% endblock %}

{% block title %}Collaboration index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row"><h1>Collaborations nombre {{ collaborations|length }}</h1>
     </div>
    <div class="row"> 
      
{#***************************************************************************************************************#}
        <div class="col-2">
        </div>

        <div class="col-10" id="demo">
            <h1>Artfulio</h1>
           <!--  <h2>Table of my other Material Design works (list was updated 08.2015)</h2> -->
                <!-- Responsive table starts here -->
                 <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
        <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr class="table-primary">
                <th>NomUser</th>
                <th>Titre</th>
                <th>TypeCollaboration</th>
                <th>Status</th>
               {#<th>Description</th>#} 
                <th>DateSortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaboration in collaborations %}
            <tr class="hoverable">
                        <td data-title="ID">{{ collaboration.nomUser }}</td>
                        <td data-title="Name">{{ collaboration.titre }}</td>
                        <td data-title="Name">{{ collaboration.typeCollaboration }}</td>
                        <td data-title="Name">{{ collaboration.status }}</td>
                        <td data-title="Name">{{ collaboration.dateSortie ? collaboration.dateSortie|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('adm_collaboration_show', {'idCollaboration': collaboration.idCollaboration}) }}"><i class="fa-solid fa-circle-info fa-2xl"></i></a>
                            <a href="{{ path('adm_collaboration_edit', {'idCollaboration': collaboration.idCollaboration}) }}"><i class="fa-solid fa-pen-to-square fa-2xl"></i></a>
                        </td>
            </tr>
        {% else %}
             <tr>
                <td colspan="9">pas de collaboration trouvé</td>
            </tr>
        {% endfor %}
                    </tbody>
            </table>
                                        </div>

                    <div class="d-flex align-items-center justify-content-center">
                        {{ knp_pagination_render(collaborations) }}
                    </div>
            </div>
  </div>
</div>
{% endblock %}


{% block js %}
    <script src="https://kit.fontawesome.com/5617f4f4fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{asset("assets/css/table-admin-event.js")}}">
{% endblock %}
