{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_categorie</th>
                <th>Type_categorie</th>
                <th>Nom_categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idCategorie }}</td>
                <td>{{ categorie.typeCategorie }}</td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id_categorie': categorie.id_categorie}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id_categorie': categorie.id_categorie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
