
{% extends 'baseBack.html.twig' %}
{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCategorie</th>
                <td>{{ categorie.idCategorie }}</td>
            </tr>
            <tr>
                <th>TypeCategorie</th>
                <td>{{ categorie.typeCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <div style="text-align: center;">
     <form action="{{ path('app_categorie_edit', {'idCategorie': categorie.idCategorie}) }}" method="get" style="display: inline; margin: 0 auto;">
        <button type="submit" class="btn btn-link" style="padding: 0;"><i class="bi bi-pencil-square"></i></button>
     </form>
    </div>
    {{ include('categorie/_delete_form.html.twig') }}
    <a href="{{ path('app_categorie_index') }}"style="display: block; margin: 0 auto; text-align: center;">back to list</a>
{% endblock %}
