{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ promotion.remise }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ promotion.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_promotion_index') }}">back to list</a>

    <a href="{{ path('app_user_promotion_edit', {'id': promotion.id}) }}">edit</a>

    {{ include('user_promotion/_delete_form.html.twig') }}
{% endblock %}
